table {
	margin: 	   10px 20px 10px 20px;
	padding: 	   0px;
	border:		   solid black;
	border-collapse:   collapse;
	border-spacing:	   10px;
	height:		   200px;
	width:		   450px;
	background-color:  #BDD1D1;
	object-position:   right;
	table-layout: 	   auto;
	justify-content:   center;
}
th {
	background-color:  #888A8A;
}
td, th {
	border:		   thin dotted black;
	padding: 	   5px;
}
caption {
	font-style:	   italic;
	padding-top:	   8px;
	font-weight:       bold;
}
footer {
	margin: 	   10px;
}
div.tableRow {
    	display: 	   table-row;
}
div.tableRow p {
    	display: 	   table-cell;
    	vertical-align:    top;
	font-size:         120%;
    	padding:           3px;
}
div.tableRow p:first-child {
    	text-align:        right;
	font-weight:       bold;
}
h1, h2 {
	text-align:        center;
}
h4 {
	text-align:        center;
}
p {
	text-align:        center;
}
p.heading {
	font-weight:       bold;
}
.center {
	margin-left:	   auto;
	margin-right:	   auto;
}