body {
	background-color:  #6AE0D1;
	font-family:       "Comic Sans MS", cursive, sans-serif;
	font-size:	   small;
	text-align:        center;
	margin:            0px;				
}
header {
	margin:  	   0 auto;
	padding: 	   10px 0px 10px 0px;
	background-color:  #2E615A;
	height:            75px;
	text-align:        center;
}
nav {
	display: 	   table-cell;
	margin:		   0 auto;
	padding:	   0;
	width:             300px;
	font-size:	   1.4em;
	background-color:  #51ADA1;
	list-style-type:   none;
}
nav ul {
	margin:		   0;
	list-style-type:   none;
	padding:	   10px;
}
nav ul li {
	display:	   inline;
	padding:	   5px 10px 5px 10px;
}
nav li a {
	display:	   block;
	background-color:  #51ADA1;
	text-decoration:   none;
	border-bottom:     1px solid #777;
	border-top:        1px solid #777;
	color:	   	   #2E615A;
	padding:	   10px;
}
nav ul li.selected {
	background-color:   #2E615A;
}
section#main {
	display: 	   table-cell;
	margin:	           0 auto;
	padding:           20px 10px 20px 10px;
	width:		   990px;
	background:        #6AE0D1;
	font-size:         105%; 
	vertical-align:	   top; 
	text-align:        left; 		
}
form {
    	display:          inline-block;
    	padding:          15px;
    	border:           medium dotted #2E615A;
    	background-color: #5DC7B9;
	margin-left:	  auto;
	margin-right:	  auto;
	height: 	  50%;
	width:		  50%;
	text-align:       center;
}
form textarea {
    	width: 		  200px;
    	height: 	  100px;
}
aside {
	display: 	   table-cell;
	margin:		   0 auto;
	padding:           20px 10px 20px 10px;
	width:		   140px;
	background:        #B1E6DE;
	font-size:	   105%;
	vertical-align:	   top;
	text-align:        center; 		
}
footer {
	clear:		   both;
	text-align:        center;
	font-weight:	   bold;
	font:		   90%;	
	background-color:  #2E615A;
	height:            75px;	
}


